:root {
  --default-font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display", serif;
  --primary-color: rgb(108, 99, 255);
  --secondary-color: #f9f7fe;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
}

img{
    padding: 90px 20px 30px 20px;
    border-radius: 2%
    
    
}
#image-grid{
    background-color: var(--secondary-color);
    border-radius: 4px;
    padding:12px;
}
#featured-project{
    margin:48px;
    text-align: center;
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  font-family: var(--heading-font-family);
  font-weight: normal;
  padding: 30px;

}

h3 {
  font-size: 64px;
  line-height: 76px;
  font-weight: 700;
  font-family: var(--default-font-family);
  padding: 30px 30px 5px 30px
}
p{
    font-size: 16px;
    line-height: 30px;
    padding: 0 30px 5px 30px;
}
.btn {
  background-color: var(--primary-color);
  font: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
  margin-top: 20px;
}

@media (max-width: 567px) {
  h3,h2
   {
    text-align: center;
    font-size: 30px;
  }
  h1 {
    font-size: 36px;
    color: var(--primary-color);
  }
}

@media (max-width: 217px) {
  .wavinghand {
    display: none;
  }
  .hero {
    background-color: white;
  }
}
@media only screen and (min-width: 567px) and (max-width: 993px) {
        #image-grid{
        display:none;
    }
}

@media (max-width: 567px) and (min-width: 993px) {
    #small-image{
        display: none;
    }
   }
